body {
    margin: 0 auto;
}

#logo {
    height: 50px; 
    width: 50px;
    margin-right: 600px;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    line-height:20px;
    background-color: white;
}
.nav li{
    display:inline;
    margin: 6px;
    line-height: 40px;
}
.nav a{
    display:inline-block;
    padding: 4em 4em;
}

.columns {
    column-count: 2;
    background-color: #0FA198;
    padding-bottom: 0;
    margin-bottom: 0;
}

.fonts {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}    

.upperfonts {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}    

#phone {
    height:475px;
    width: 275px;
    background-color: #0FA198;
    margin: 0 0 350px 0;

}


.uppersection {
    background-color: #0FA198;
    color: white;
    padding: 150px 150px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 15%;
}

#lower {
    column-count: 3;
    padding: 15px;
}
#small {
    height:100px;
    width: 200px;
    margin-left: 25%;
}

.bottom {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.button {
    height: 4em;
    width: 7em;
    background-color: #0FA198;
    color: white;
    border: 3px solid white;
    
}

.more{
    height: 4em;
    width: 7em;
    background-color: white;
    color: gray;
    border: 3px solid gray;
    margin-left: 38%;
}
