#logo {
    height: 10%; 
    width:10%;
}

.nav{
    float: center;
    border:1px none #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: white;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:50px;
}


.fonts {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}    

#phone {
    height:560px;
    width: 275px;
}

.main {
    background-color: #0FA198;
    color: white;
    padding: 150px 150px;
    margin-left: 0%;
    margin-right: 0%;
    text-align: left !important;
}

.left {
    position:relative;
    width:400px;
    height:600px;
    float: left;
}

.clear {
    clear:left;
}

#small {
    height:100px;
    width: 200px;
}

.bottom {
    
    display: inline-block;
}